#bm-payment label {display: block;}

.payment-error {color: red; max-width:250px; display: block;}
.payment-transaction-button {font: normal 12px/16px monospaced !important; margin: 5px 0;}

.loading {opacity:0.5;}

.payment-refunds-list div:nth-child(2n+1) {border-top: 1px dashed #ccc;}
.payment-refunds-list div:nth-child(1) {border-top: none;}
.payment-transactions-list div:nth-child(2n+1) {border-top: 1px dashed #ccc;}
.payment-transactions-list div:nth-child(1) {border-top: none;}

.table_header {font:bold 13px/16px arial;}
.table_detail {font:normal 13px/16px arial;}

a.table_detail_link:link, a.table_detail_link:visited {color: #00629B;}
a.table_detail_link:hover {color:#137DB4;}