.io-recommendations .recommendations {clear: left;padding: 2em 0;width: 350px;}
.io-recommendations .recommendations h2 {font-family: Georgia, serif; font-size: 2em; font-style: italic;font-weight: 400; margin-left: 14px; }
.io-recommendations .recommendations #carousel-recommendations {position: relative; overflow: hidden; width: 300px; }
.io-recommendations .recommendations ul { position: relative;width: 2000em; }
.io-recommendations .recommendations li {float: left; width: 100px; }
.io-recommendations .recommendations .product-tile { padding: 0 0.5em; }
.io-recommendations .recommendations .product-image {height: 90px; }
.io-recommendations .recommendations .product-name { font-size: 1em; margin: 0.2em 0; width: 100%; }
.io-recommendations .recommendations .product-price {font-size: 1em; }
.io-recommendations .recommendations .jcarousel-clip { margin: auto; overflow: hidden; width: 300px; }
.io-recommendations .recommendations .jcarousel-nav {cursor: pointer; position: absolute;width: 9px;height: 17px;top: 20%; }
.io-recommendations .recommendations .jcarousel-nav.inactive {display: none; }
.io-recommendations .recommendations .jcarousel-prev {background: url("../images/interface/icon-jcarousel-horiz-arrow-left.png") repeat scroll 0 0 transparent; left: 0; }
.io-recommendations .recommendations .jcarousel-next {background: url("../images/interface/icon-jcarousel-horiz-arrow-right.png") repeat scroll 0 0 transparent; right: 0; }
.io-recommendations .recommendations .product-tile:hover .recommendation-tooltip {display: block !important; }
.js .io-recommendations .recommendations .product-tile .recommendation-tooltip {display: none !important; }
.io-recommendations .recommendations .recommendation-tooltip {background: none repeat scroll 0 0 #fff; border: 1px solid; left: 50%; position: absolute;text-align: left;top: 50%;width: 300px; z-index: 100; }
.io-recommendations .recommendations { width: 275px; }
.io-recommendations .recommendations .jcarousel-clip { width: 200px; }