/* General */
.remove {display:none;}
input.readonly {background-color:#CCCCCC;}
div#header div.categorymenu {width:650px;}
.pt_storefront #divGigyaComments {margin:0 auto; padding-top:20px; clear:both;}


/*Activity Feed*/
#divGigyaActivityFeed td {padding:0; background-color: white;}

/* Login */
div.accountlogin h1 {padding-top:20px;}
.pt_account div.gigyaLoginParent {text-align: left;}
.pt_account #gigyaLoginContainerLogin {display:inline-block;}
.loginInstruction {margin-left:20px; font-weight: bold;}
.user-panel .liLoginHeader {padding-bottom:15px;}
.gigya-login-providers-container {width:auto !important;}
.gigya-login-provider-row {padding:0 !important;}

/* Registration */
.registration-selection {display:none;} /*Hide Default Facebook Option */
#RegistrationForm {visibility:hidden;}
.pt_account .registration #gigyaLoginContainerRegistration {margin-left:0px;}
.pt_account .registration #h3GigyaLogin {color:white; font-size: 1.5em;}
#divGigyaLinkAccount .registrationInstruction {margin:20px;}
#divGigyaLinkAccount {margin-bottom:20px;}
#divGigyaLinkAccount h4{margin-top:0;}
#divGigyaLinkAccount div.formactions {text-align:center;}
#gigyaLoginContainerRegistration {padding-bottom:10px;}
div.registration div.gigyaLoginParent {margin-left:0;}
#divGigyaErrorMsg { color:red; margin: 0px 0px 20px 20px;}
/* Game Mechanics */

div.gigyaGameModules {text-align:center; padding-top:20px;position:relative;float:left;}
div.gigyaGameModules h1{text-align:left;margin:10px 0;float:left; width:100%;}
div.gigyaGameModules > div {display:inline-block;width:100%;}

/*Product Page*/
div.reviewlinks {display:none;}
div.prSnippetEngine {display:none;}
#divGigyaRatings {padding-top:20px;}
div.sendtofriend {display:none;}
div.addthis_toolbox {display:none;}

/* Home Page*/
div#container.pt_storefront div#rightcolumn {padding-top:13px;}
#divGigyaFollow {padding-bottom: 5px;}

.hiddenForm {display: none;}
.gigya-error { color: #990000;margin: 1% 2% 2% 0;}
#txtGigyaAdditionalParameters {display: none;}