.checkout-tab {clear: both;}
.checkout-tab-head {border-top: 1px solid #069;background: #64772d;padding: 0 10px;line-height: 26px;}
.checkout-tab-head:before{content: "+";display: block;float: left;width: 20px;color: white;font-size: 14px;}
.checkout-tab-head.open:before {content: "-";font-size: 16px;}
.checkout-tab-head[data-href]{cursor: pointer;}
.checkout-tab-head h2{padding: 0;margin: 0;color: white;font-size: 14px;}

.checkout-tab-content{padding-top: 10px;}
.checkout-tab-content h2{color: #666;padding-bottom: 0;font-size: 1em;}
.checkout-tab-content.tab-content-show h1{display: none;}

.checkout-progress-indicator{display: none;}

.pt_checkout .breadcrumb{display: none;}

.pt_checkout .gigyaLoginParent, 
.pt_checkout #spanGigyaHeaderLogin,
.pt_checkout #h1GigyaLogin{display: none !important;} 