.address-validation-dialog {
	p {
		clear: both;
	}
	
	col-2 {
		&.select-addrs {
			float: right;
			width: auto;
		}
	}
	
	.center {
		width: 81%;
		height: auto;
		float: left;
		margin-left: 0;
	}
	
	.addresses-section {
		h2 {
			float:left;
		}
		
		a {
			&.gray-button {
				background: none repeat scroll 0 0 $white;
				border-color: $very-light-gray $very-light-gray #D0D0D0;
				border-style: solid;
				border-width: 1px 1px 4px;
				color: #3EBAEA;
				cursor: pointer;
				display: inline;
				font-size: 1.1em;
				font-weight: 700;
				padding: 0.6em 2em 0.5em;
				text-align: center;
				float:left;
				outline: none;
			}
		}
		
		.edit-address-button {
			float: left;
			clear: both;
		}
		
		.center {
			margin-left: 0;
		}
	}
	
	.original-address {
		&.left-pane {
			clear: both;
			float: left;
			padding: 10px;
			background-color: #EEEEEE;
			min-height: 100px;
			width: 380px;
			border: 1px solid $nobel;
			margin-bottom:20px;
			border-radius: 7px;
			
			.button { 
				float: right;
			}
		}
	}
	
	.suggested-addresses {
		&.origin {
			clear: both;
			float: left;
			padding: 10px;
			background-color: rgba(208, 231, 171, 0.48);
			min-height: 100px;
			width: 380px;
			border: 1px solid #008000;
			margin-bottom: 35px;
			border-radius: 7px;
			
			.edit-address-button {
				&.col-1 {
					width: auto;
				}
			}
		}
	}
	
	.suggested-address-text {
		p {
			color: #008000;
		}
	}
}