.backInStockNotification {
  clear: both;
  width: 100%;
  .emailNotificationUI {
    float: left;
    width: 50%;
  }
  .bisnemail {
    width: 100%;
    padding: 7px;
  }
  label {
    line-height: 32px;
  }
}

.pdp-main .backInStockNotification .bisnButton {
  margin: 0;
  position: relative;
  top: 37px;
  left: 22px;
  float: left;
  width: 20%;
  height: 31.5px;
}

.backInStockNotification .error {
  display: inline;
}

.backInStockNotification .bisnemailnstatus {
  display: inline-block;
}



@media screen and (max-width: 480px) {
  .backInStockNotification .emailNotificationUI {
    float: none;
  }
  .pdp-main .backInStockNotification .bisnButton {
    top: 0;
    left: 0;
    margin-top: 10px;
    width: 50%;
  }
}