.email-subscribe {
  width: 50%;
  margin: 0 auto;
  clear: both;
  float: left;
  .form-row {
    float: left;
    width: 75%;
    label {
      width: auto;
    }
    input {
      width: 75%;
    }
    span.error {
      float: left;
      margin: 0px;
      margin-left: 50px;
    }
  }
  .submitEmail {
    float: left;
  }
}

.subscribe-success{
	text-align : center;
	padding:40px 0px;
}

.emailsubscription{
	.day span.error, 
	.year span.error, 
	.month span.error{
		display:none !important;
	}
}