.addressBookWidgetDiv{width: 400px; height: 228px;}
.walletWidgetDiv{width: 400px; height: 228px;}
form.checkout-shipping.address > fieldset:first-of-type,
form.checkout-billing.address > fieldset:first-of-type,
form.checkout-billing.address > fieldset:nth-of-type(3) {display: none;}
